
    <app-navbar></app-navbar>

    @if (personaje) {
        <section class="card-section">

            @for (persona of personaje.slice(0,4); track persona.id; ) {
        
                <app-card [foto_personaje]=" persona.image"
                [nombre_personaje]="persona.name"
                [descripcion_personaje]="persona.species" ></app-card>

            }
            

        </section>

        <section class="card-section">

            @for (persona of personaje.slice(5,9); track persona.id; ) {
        
                <app-card [foto_personaje]=" persona.image"
                [nombre_personaje]="persona.name"
                [descripcion_personaje]="persona.species" ></app-card>

            }
            

        </section>

        <section class="card-section">

            @for (persona of personaje.slice(10,14); track persona.id; ) {
        
                <app-card [foto_personaje]=" persona.image"
                [nombre_personaje]="persona.name"
                [descripcion_personaje]="persona.species" ></app-card>

            }
            

        </section>
    }
   







