
    <app-navbar></app-navbar>
    <section class="card-section">
        <app-card foto_personaje="https://github.com/Bigpotatozz.png"
                    nombre_personaje="Bigpotatozz"
                    descripcion_personaje="alch no se que poner" ></app-card>

         <app-card foto_personaje="https://github.com/Bigpotatozz.png"
                    nombre_personaje="Bigpotatozz"
                    descripcion_personaje="alch no se que poner" ></app-card>
        
        <app-card foto_personaje="https://github.com/Bigpotatozz.png"
                    nombre_personaje="Bigpotatozz"
                    descripcion_personaje="alch no se que poner" ></app-card>

        <app-card foto_personaje="https://github.com/Bigpotatozz.png"
                    nombre_personaje="Bigpotatozz"
                    descripcion_personaje="alch no se que poner" ></app-card>
    </section>







